/* width */
.scroll-custom::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll-custom::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scroll-custom::-webkit-scrollbar-thumb {
  background: rgb(229, 231, 235);
  border-radius: 4px;
}